<h1>Restaurant</h1>
<%= link_to "Back", restaurants_path %>
<%= link_to "Edit", edit_restaurant_path(@restaurant) %>

<p>Name: <%= @restaurant.name %></p>
<p>Rating: <%= @restaurant.rating %> / 5</p>
<p>Address: <%= @restaurant.address %></p>
